<div class="page">
  <div class="header">
    <h2>Blogs</h2>
<button mat-raised-button color="primary" [routerLink]="['/blogs/new']">
  New blog
</button>  </div>

  <mat-card *ngIf="loading">Loading...</mat-card>

  <mat-card *ngIf="!loading && blogs.length === 0">
    No blogs yet.
  </mat-card>

  <mat-card class="blog-card" *ngFor="let b of blogs">

  <div class="blog-header">
    <div class="title-block">
      <mat-card-title class="blog-title">
        {{ b.title }}
      </mat-card-title>

      <div class="blog-author">
        @{{ b.authorUsername}}
      </div>
    </div>

    <div class="blog-date">
      {{ b.createdAt | date:'medium' }}
    </div>
  </div>

  <mat-card-content class="blog-content">
    <markdown [data]="b.descriptionMarkdown || ''"></markdown>
  </mat-card-content>

</mat-card>

</div>
