services:
  auth-mongo:
    image: mongo:7
    environment:
      MONGO_INITDB_DATABASE: auth_db
    ports:
      - "27017:27017"
    networks: [appnet]

  blog-mysql:
    image: mysql:8.4
    environment:
      MYSQL_DATABASE: blog_db
      MYSQL_USER: blog
      MYSQL_PASSWORD: blog_pass
      MYSQL_ROOT_PASSWORD: root_pass
    ports:
      - "3307:3306"
    networks: [appnet]

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    networks: [appnet]
    volumes:
      - minio_data:/data

  auth-service:
    build: ./auth-service
    environment:
      PORT: "8080"
      JWT_SECRET: "dev_secret_change_me"
      MONGO_URI: "mongodb://auth-mongo:27017"
      MONGO_DB: "auth_db"
    depends_on:
      - auth-mongo
    ports:
      - "8081:8080"
    networks: [appnet]

  blog-service:
    build: ./blog-service
    environment:
      PORT: "8080"
      JWT_SECRET: "dev_secret_change_me"
      MYSQL_DSN: "blog:blog_pass@tcp(blog-mysql:3306)/blog_db?parseTime=true"

      AUTH_BASE_URL: "http://auth-service:8080"

      S3_ENDPOINT: "http://minio:9000"
      S3_ACCESS_KEY: "minioadmin"
      S3_SECRET_KEY: "minioadmin"
      S3_BUCKET: "blog-images"
      S3_PUBLIC_BASE_URL: "http://localhost:9000/blog-images"
    depends_on:
      - blog-mysql
      - minio
    ports:
      - "8082:8080"
    networks: [appnet]

  api-gateway:
    build: ./api-gateway
    depends_on:
      - auth-service
      - blog-service
    ports:
      - "8080:8080"
    networks: [appnet]

networks:
  appnet:

volumes:
  minio_data:
