<mat-toolbar class="topbar" role="navigation">
  <div class="wrap">
    <div class="left">

      <div class="links">
        <a
          class="nav-link"
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>

        <a
          class="nav-link"
          *ngIf="(authService.user$ | async)?.username"
          routerLink="/blogs"
          routerLinkActive="active"
        >
          Blogs
        </a>
      </div>
    </div>

    <div class="right">
      <ng-container *ngIf="(authService.user$ | async) as u">
        <button
          *ngIf="!u.username"
          mat-stroked-button
          class="btn danger"
          [routerLink]="['/login']"
        >
          Login / Register
        </button>

        <button
          *ngIf="u.username"
          mat-stroked-button
          class="btn danger"
          (click)="onLogout()"
        >
          Logout
        </button>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
